* {
  padding: 0;
  margin: 0;
}
.hero-section {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 8rem;
}

.photo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounceIn 2s ease-out;
}

.photo img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  object-fit: contain;
  transition: transform 0.5s ease-in-out;
}
.register-heading {
  padding-bottom: 10px;
}
.section {
  align-items: center;
}

.inputbox {
  border: 3px solid #000;
  border-radius: 5px;
  height: 50px;
  line-height: normal;
  color: #282828;
  display: block;
  width: 100%;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding: 0 6px;
  padding-left: 12px;
}
.inputbox:focus {
  border: 3px solid #5551ff;
}
.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #000a47;
  line-height: 1.15;
  font-size: 16px;
  width: 100%;
}
.button:hover {
  transition: all 0.1s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}
.registerSpanner {
  color: red;
}
